<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Ride Share!</title>
    <link rel="stylesheet" href="static/css/pages.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body>
 <script>
  
</script>
  <h1 class ="title"> Ride Share </h1>
  <img src="static/img/car.png" id="car">
  <form action="/login" method="post">
  <div class="words"> Email Address:
  <input type="text" name="email" class="login"> <br><br>
    Password:
  <input type="password" name="password" class="login"> <br><br>
  <button id="logon" type="submit" value="submit"> Log in </button>
  </form>
  </div>
  <div>
  <a href='/signup'><p>Don't have an account? Sign up here.</p></a> 
  </div>
  </body>
</html>