<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Ride Share!</title>
    <link rel="stylesheet" href="static/css/pages.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body>
 <script>
  
</script>
  <h1 class ="title"> Ride Share </h1>
  <img src="static/img/car.png" id="car">
  <form action="/register" method="post">
  <div class="words"> First Name:
  <input type="text" name="firstName" class="login"> <br><br>
    Last Name:
  <input type="text" name="lastName" class="login"> <br><br>
  Email Address:
  <input type='text' name='email' class='login'> <br><br>
  Phone Number:
  <input type='number' name='phoneNumber' class='login'><br><br>
  Password:
  <input type='password' name='password' class="login"> <br><br>
  Confirm:
   <input type='password' name='confirmPassword' class="login"> <br><br>
  <button id="logon" type="submit" value="Register"> Register </button>
  </form>
  </div>
  <div>

  </div>
  </body>
</html>